body {
    background-color: #ac644b;
    text-align: center;
}

.title {
    font-size: 3rem;
    text-decoration: underline;
}

.text {
    color: #e8e8c5;
}

#main-text {
    font-size: 1.4rem;
    font-style: oblique;
}